version: 2.1

jobs:
  backend_ci:
    docker:
      - image: cimg/node:18.0
    steps:
      - checkout
      - run:
          name: Install Backend Dependencies
          command: |
            cd backend
            npm install
      - run:
          name: Run Backend Tests
          command: |
            cd backend
            npm test || echo "No tests"

  frontend_ci:
    docker:
      - image: cimg/node:18.0
    steps:
      - checkout
      - run:
          name: Install Frontend Dependencies
          command: |
            cd frontend
            npm install
            npm run build

  
workflows:
  ci_cd_pipeline:
    jobs:
      - backend_ci
      - frontend_ci
     